{
      "globals": {
        // Put things like jQuery, etc
        "jQuery": true,
        "$": true
    },
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "extends": "eslint-config-standard",
    "plugins": [
        "standard"
    ],
    "ecmaFeatures": {
        "modules": true,
        "blockBindings": true,
        "jsx": true
    },
    "rules": {
        "semi": [2, "always"]
    }
}